@font-face {
  font-family: scaryfont;
  src: url(../fonts/watcher.ttf);
}

#logo {
  margin-left: 20px;
  filter: drop-shadow(0 1px 3px rgb(0, 238, 255));
}

LogoutButton {
  margin-left: 20px;
  filter: drop-shadow(0 1px 3px rgb(0, 238, 255));
}

#right-nav {
  margin-left: 60%;
}
.g-2 {
  justify-content: center;
}

a.nav-link {
  color: white;
}

a:link {
  color: white;
}
