#lib-background {
  background-image: url(https://64.media.tumblr.com/5189cb2dc6ad58cd44bc9e4a66c9b097/tumblr_pf4brj9Duq1w0qmx4o1_1280.jpg);
  height: 100vh;
}
h1 {
  filter: drop-shadow(0 1px 3px);
  margin-left: 37%;
}
