h1 {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em 0 0 rgba(0, 255, 0, 0.75), 0.025em 0 0 rgba(0, 0, 255, 0.75);

  animation: glitch 750ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.25em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.25 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05 0 rgba(0, 0, 255, 0.75);
  }
}
